dask[complete] == 2022.5.2 # https://pypi.org/project/dask/
dask-kubernetes == 2022.5.2 # https://pypi.org/project/dask-kubernetes/
jupyterlab == 3.4.2 # https://pypi.org/project/jupyterlab/
matplotlib == 3.5.2 # https://pypi.org/project/matplotlib/
numpy == 1.22.4 # https://pypi.org/project/numpy/
openpyxl == 3.0.10 # https://pypi.org/project/openpyxl/
pandas == 1.4.2 # https://pypi.org/project/pandas/
pip == 22.1.2 # https://pypi.org/project/pip/
psycopg[binary] == 3.0.14 # https://pypi.org/project/psycopg/
scikit-learn == 1.1.1 # https://pypi.org/project/scikit-learn/
seaborn == 0.11.2 # https://pypi.org/project/seaborn/
setuptools == 62.3.2 # https://pypi.org/project/setuptools/
statsmodels == 0.13.2 # https://pypi.org/project/statsmodels/
