jupyterlab == 3.4.0 # https://pypi.org/project/jupyterlab/
matplotlib == 3.5.2 # https://pypi.org/project/matplotlib/
mysql-connector == 2.2.9 # https://pypi.org/project/mysql-connector/
numpy == 1.22.3 # https://pypi.org/project/numpy/
openpyxl == 3.0.9 # https://pypi.org/project/openpyxl/
pandas == 1.4.2 # https://pypi.org/project/pandas/
pip == 22.0.4 # https://pypi.org/project/pip/
psycopg[binary] == 3.0.12 # https://pypi.org/project/psycopg/
scikit-learn == 1.0.2 # https://pypi.org/project/scikit-learn/
seaborn == 0.11.2 # https://pypi.org/project/seaborn/
setuptools == 62.1.0 # https://pypi.org/project/setuptools/
statsmodels == 0.13.2 # https://pypi.org/project/statsmodels/
